<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="groupName" value="佛山市承林家具有限公司" />
    <add key="groupCount" value="4" />
    <add key="groupPosFirstGroupx" value="198" />
    <add key="groupPosFirstGroupy" value="170" />
    <add key="groupPosGetGroupNamex" value="394" />
    <add key="groupPosGetGroupNamey" value="54" />
    <add key="groupPosGetGroupMsgx" value="1242" />
    <add key="groupPosGetGroupMsgy" value="331" />
    <add key="groupLableGap" value="60" />
  </appSettings>
</configuration>